# Byte-code / Python cache
__pycache__/
*.pyc
*.pyo

# Environment / Secrets
.env
*.env
venv/
.venv/

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp

# Build artifacts
*.egg-info/
dist/
build/

# Ollama models (Not comitting the original 4.7GB file)
.ollama/

# Conda environments
/envs/
/luna-env/
*.conda
